@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body {
    text-align: center;

    background-color: rgb(2, 0, 10);

    color: white;
    font-family: "Fredoka", sans-serif;
}

input, button {
    color: white;
    font-family: "Fredoka", sans-serif;
}

h1 {
    font-size: 48px;
    margin: 0px 0px 5px 0px;
}

#score {
    margin-top: 20px;

    font-size: 72px;
}

/*
    Puzzle Area
*/
#puzzle {
    margin: 30px;
}

#puzzleImage {
    margin-bottom: 10px;

    width: 300px;
    height: auto;

    border: 2px solid rgb(16, 15, 32);
    border-radius: 10px;
}

#puzzleAnswer {
    width: 150px;
    height: 30px;

    background-color: rgb(11, 10, 22);

    border: 2px solid rgb(16, 15, 32);

    font-size: 20px;
}

#puzzleSubmit {
    margin: 10px;

    width: 75px;
    height: 30px;

    background-color: rgb(11, 10, 22);

    border: 2px solid rgb(16, 15, 32);
    border-radius: 5px;

    cursor: pointer;
    
    transition-duration: 0.5s;
}
#puzzleSubmit:hover {
    background-color: rgb(7, 6, 14);
}

i {
    opacity: 0.3;
    font-size: 12px;
}